.container{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     border: 1px solid rgb(253, 252, 252);
     
     width: 500px;
     margin: auto;
     background-color: #f9f9f9;
     
     height: 80vh;
     margin-top: 57px;


}
.container span {
     font-weight: bold;
     margin-right: 300px;
     padding: 5px;
     
}
.container button {
     background-color: gray;
     border: none;
     border-radius: 50px;
     padding: 5px;
     width: 26px;
     cursor: pointer;
}
.alldetail{
     margin-bottom: 5px;
}